@model AudifyProject.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h2> Audio/Essay/Novel</h2>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"> Audio/Essay/Novel</h3>
        </div>
        <input type="hidden" id="itemId" value="@Model.Id" />
        <div class="box-body">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <table class="table table-responsive table-bordered">
                            <tr>
                                <td> @Html.DisplayNameFor(model => model.Name)</td>
                                <th> @Html.DisplayFor(model => model.Name)</th>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.CoverFileName)</td>
                                <td><img src="@Model.CoverFileName" width="80" height="80" class="img-thumbnail" /></td>
                            </tr>

                            <tr>
                                <td> @Html.DisplayNameFor(model => model.TotalReview)</td>
                                <td> @Html.DisplayFor(model => model.TotalReview)</td>
                            </tr>
                            <tr>
                                <td> @Html.DisplayNameFor(model => model.TotalPage)</td>
                                <td>@Html.DisplayFor(model => model.TotalPage)</td>
                            </tr>
                            <tr>
                                <td> @Html.DisplayNameFor(model => model.Duration) </td>
                                <td>@Html.DisplayFor(model => model.Duration)</td>
                            </tr>
                            <tr>
                                <td> @Html.DisplayNameFor(model => model.CategoryName)</td>
                                <td> @Html.DisplayFor(model => model.CategoryName)</td>
                            </tr>
                            <tr>
                                <td> @Html.DisplayNameFor(model => model.AuthorName)</td>
                                <td>@Html.DisplayFor(model => model.AuthorName)</td>
                            </tr>
                            <tr>
                                <td>Summary</td>
                                <th>  @Html.DisplayFor(model => model.Description)</th>
                            </tr>

                        </table>


                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    <div class="row">
                        <h3 class="">Audio Files</h3>
                        
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-primary">
                            Add New Audio
                        </button>
                    </div>

                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    int i = 1;
                                }
                                @foreach(var chapter in Model.Chapters)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@chapter.Name</td>
                                        <td>@chapter.FileName</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal modal-info fade audio-modal" id="modal-primary" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <form id="formUploadChapter" method="post" action="/Chapters/UploadChapter" enctype="multipart/form-data">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">New Audio file</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="section">
                                    <div class="row">
                                        <input type="hidden" name="ItemId" id="itemIdForDetail" value="@Model.Id" />
                                        <div class="col-10">
                                            <div class="form-group">
                                                <label for="chapterName">Name</label>
                                                <input type="text" name="Name" class="form-control" id="chapterName" />
                                            </div>
                                            <div class="form-group">
                                                <label for="audioFile">Audio file</label>
                                                <input type="file" name="File" class="form-control" id="audioFile" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
                                <button type="submit" id="btnUploadAudio" class="btn btn-outline float-right">Save changes</button>
                            </div>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <div class="row">
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        </div>
</section>
@section Scripts{ 
    <script>
        $(document).ready(function () {
          
           /*  $("#btnUploadAudio").click(function () {
                $("#btnUploadAudio").attr("disabled", true);
               var name = $("#chapterName").val();
                var fdata = new FormData();
                var fileUpload = $("#audioFile").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                fdata.append('Name', name);
                fdata.append('ItemId', $("#itemId").val());

                $.ajax({
                    type: "POST",
                    url: "/Chapters/UploadChapter",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    async: true,
                    success: function (response) {
                        if (response.length == 0) {
                            alert('Something is wrong, Error Occur and Try Again');
                            $('.audio-modal').modal('hide');
                        }

                        else {

                            if (response != null && response.length > 0) {
                                alert(response);
                            }
                            $('.bs-salary-modal-lg').modal('hide');
                        }
                    },
                    error: function (e) {
                        $('#divPrint').html(e.responseText);
                    }
                });
                
            });
            */
        });
        
    </script>
}
        
